.main-wrapper{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 50vw;
    border: 1px solid black;
    margin: 0 auto;
    background-color: rgb(27, 101, 6);
    padding: 10px;
}

.main-wrapper .left-chat{
    width: 50%;
    height: 100%;
    background-color: rgb(27, 101, 6);
}

.main-wrapper .right-chat{
    width: 50%;
    height: 100%;
    background-color: rgb(27, 101, 6);
    text-align: right;
}